{% extends 'base.html.twig' %}

{% block title %}Plateforme
{% endblock %}

{% block body %}
	<h1>Plateforme</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ plateforme.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ plateforme.name }}</td>
			</tr>
			<tr>
				<th>Url</th>
				<td>{{ plateforme.url }}</td>
			</tr>
			<tr>
				<th>Logo</th>
				<td>{{ plateforme.logo }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_plateforme_index') }}">back to list</a>

{% endblock %}
